button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 5px solid #D00027;
  border-radius: 20px;
  color: #D00027;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em auto;
  padding: 1em 1.8em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #D00027;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}

.unselected {
  overflow: hidden;
}

.selected {
  background: #D00027;
  border: 5px solid #D00027;
  border-radius: 20px;
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 1em auto;
  position: relative;
  text-transform: uppercase;
}

.unselected::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.unselected:hover:after {
  height: 100%;
  width: 135%;
}