.buttons {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
}

.buttons .btn  {
  text-decoration: none !important;
  margin-right: 0.3em;
  border: 2px solid #D00027;
  border-radius: 20px;
  color: #D00027;
  padding: 0.5em 1.2em;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}

.buttons .btn.filter-selected,
.buttons .btn:hover {
  color: #fff;
  background: #D00027;
}

@media only screen and (max-width: 550px) {
  .buttons .btn {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: -1px;
    display: block;
  }
}